Package: com.spark.hyperionwidgets.example
Name: Example Hyperion Widget
Depends: mobilesubstrate, com.spark.hyperion
Architecture: iphoneos-arm
Description: Example Hyperion Widget
Maintainer: Maintainer
Author: Author
Section: Tweaks
Version: 1.0-5+debug
Installed-Size: 120
